/* CSS Styles for Campus Pal Website */

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table td {
  vertical-align: top;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.signup-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5298de;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

footer a {
  margin-right: 10px;
}

.footer-social {
  margin-top: 10px;
}

/* Center the image */
header img {
  display: block;
  margin: 0 auto;
}

/* Additional Styles for Table */

.info-table {
  border: 1px solid #ddd;
}

.info-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.info-table th,
.info-table td {
  padding: 20px;
  text-align: left;
}

.info-table th {
  background-color: #000000;
  color: #fff;
}

.info-table td:first-child {
  width: 50%;
}

.info-table td:last-child {
  width: 50%;
}

.info-table h2 {
  color: #ff0909;
}

.info-table p {
  margin-bottom: 20px;
}

/* Add additional styles as needed */
